:root {
  --vhMAX: 100vh;
  --vwMAX: 100vw;
  --Mint: #CCF1E8;
  --darkMint: #25A18E;
  --lightMint: #BBE1DB;
  --seafoam: #9FFFCB;
  --navyblue: #2D6CA5;
  --paleRed: #E2D9D9;
  --orange: #FABE86;
}

* {
  /* border: solid 2px black; */
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  color: #04352E;
}
/* BODY */
body, html {
  /* background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); */
  background-repeat: no-repeat;
  height: var(--vhMAX);
  width: var(--vwMAX);
  display: flex;
  background-color: var(--Mint);
}
/* MAIN */
.main {
  height: var(--vhMAX);
  width: var(--vwMAX);
  display: flex;
}

/* LEFT-SIDE-BAR */

.side-bar {
  height: var(--vhMAX);
  width: 20vw;
  background: var(--darkMint);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 3px;
  border: solid 2px var(--lightMint);
}

h1 {
  width: inherit;
  text-align: center;
}

.name {
  background-color: var(--seafoam);
  text-align: center;
  font-size: 5vh;
}

/* NAV */
.tabs-container {

}

.button-container {

}




.user-card {
  background-color: var(--seafoam);
  text-align: center;
}

.chart-holder {
  height: 40vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-data {
  height: inherit;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-text {
  font-size: 5vh;
}

.widget-hover {
  background-color: white;
  width: 10px;
  height: 10px;
}

.user-friends {
text-align: center;
padding-top: 5vh;
}

.user-info {
  padding: 1vh;
}

.myChart {
  height: 30vh;
  width: 30vw;
}

.progress-holder {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  width: 90%;
}

.progress-window {
  background-color: orange;
  border-radius: 10%;
  margin:2vw;
  width:20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.widget-button {
  border: none;
  outline: none;
  background-color: orange;
  color: white;
  font-size: 1rem;
}

.widget-button:hover {
  background-color: brown;
  cursor:pointer;
}

.widget-nav {
  display:flex;
  height: 100%;
  width: 100%;
}
/* PROGRESS CIRCLE */
.progress{
  margin: 40px;
}

.progress-container {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin: 20px;
  overflow: hidden;
}

.circle-progress:hover{
   cursor: pointer;
}

.circle-progress-value {
	stroke-width: 6px;
	stroke: white;
	stroke-linecap: round;
}
.circle-progress-circle {
	stroke-width: 8px;
	stroke: #888;
}

.circle-progress-text {
	fill: #888;
}

.circle-progress {
  width: 13vw;
  height: auto;
}

.hidden {
  display: none!important;
}
